.app-header {
  display: flex;
  background-color: var(--clr1);
  color: var(--clr1bg);
  padding: 1em;
  justify-content: space-between;
  gap: 20px;
}

.app-header nav {
  display: flex;
  align-items: center;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  color: var(--gray3);
  font-size: 1.2em;
  gap: 20px;

}

.app-header nav span:hover {
  text-decoration: underline;
  color: var(--gray2);
  cursor: pointer;
}



@media(max-width: 720px) {
  .app-header {
    color: var(--clr2bg);
  }

}


@media (max-width: 453px) {
  .app-header nav {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-right: 25px;
    margin-top: 15px;

  }

}