.book-details {
    display: flex;
    flex-direction: column;
}

.book-details h3 {
    text-align: center;
}

.book-details img {
    width: 30%;
    align-self: center;
    border-radius: 8px;
}

.book-details button {
    width: 20%;
    align-self: center;
}


@media(min-width: 1490px) {
    .book-details img {
        width: 25%;
        align-self: center;
        border-radius: 8px;
    }

}